.userBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: var(--gray);
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.userBox-infoBox {
    display: flex;
    align-items: center;
}

.userBox-infoBox-img {
    max-width: 4rem;
    border-radius: 100%;
    border: 2px solid var(--yellow);
    margin-left: 1rem;
}

.userBox-infoBox-nameJob {}

.userBox-infoBox-nameEmail-name {
    font-size: 22px;
    padding-bottom: .5rem;
    font-weight: bold;
}

.userBox-infoBox-nameJob-email {
    font-size: 20px;
    font-weight: bold;
}

.userBox-btnBox {
    display: flex;
}

.userBox-btnBox-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    padding: .3rem 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: .3rem;
    background-color: var(--gray);
    color: var(--white-dark);
    border: 1px solid var(--yellow);
    outline: none;
    margin-right: .5rem;

}

.userBox-btnBox-btn.massages:hover {
    cursor: pointer;
    background-color: var(--silver-light);
    color: var(--gray);
}

.userBox-btnBox-btn.infos:hover {
    cursor: pointer;
    background-color: var(--silver-light);
    color: var(--gray);
}

.userBox-btnBox-btn.delete:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--gray);
}