.courseBox {
    padding: .5rem;
    background-color: var(--silver);
    border-radius: .3rem;
    margin-bottom: 1rem;
    display: flex;
}

.courseBox-infos {
    display: flex;

}

.courseBox-infos-img {
    max-width: 12rem;
    margin-left: .5rem;
}

.courseBox-infos-box {}

.courseBox-infos-box-title {
    color: var(--brown);
    font-size: 22px;
    font-weight: bold;
}

.courseBox-infos-box-desc {
    margin-top: .5rem;
    color: var(--black);
    font-size: 17px;
}

.courseBox-btnBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.courseBox-btnBox-right {
    font-size: 17px;
    font-weight: bold;
    color: var(--green);
    display: flex;
}

.courseBox-btnBox-right-box {
    display: flex;
    margin-left: 1rem;
}

.courseBox-btnBox-right-box-title {}

.courseBox-btnBox-right-box-price {}

.courseBox-btnBox-left {
    display: flex;
}

.courseBox-btnBox-left-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    padding: .3rem 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: .3rem;
    background-color: var(--gray);
    color: var(--white-dark);
    border: 1px solid var(--yellow);
    outline: none;
    margin-right: .5rem;

}

.courseBox-btnBox-left-btn.edit:hover {
    cursor: pointer;
    background-color: var(--silver-light);
    color: var(--yellow);
}

.courseBox-btnBox-left-btn.delete:hover {
    cursor: pointer;
    background-color: var(--red);
    color: var(--white-dark);
}