@import "./Reset.css";

:root {
    --white: #ffffff;
    --white-dark: #dbd8d8;
    --black: #000000;
    --gray: #454545;
    --gray-dark: #1e1d1d;
    --silver-light: #a2a2a2;
    --silver: #878484;
    --red: #fa4343;
    --red-hover: #FF0000;
    --green-hover: #008000;
    --green: #005300;
    --blue: #1e1efc;
    --blue-hover: #0000FF;
    --yellow-hover: #f8a41c;
    --yellow: #b16e02;
    --brown: #642500;
    --brown-light: #6a3d23;

}