.users-ctrl {
    background-color: var(--gray-dark);
    margin-top: 1rem;
    border: 1px solid var(--yellow);
    border-radius: .3rem;
    height: 76vh;
    overflow: auto;


}

.users {
    padding: 0 1rem 1rem 1rem;
}

.users-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--yellow);
}

.users-hesder-inputBox {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    border-radius: .3rem;


}

.users-header-input {
    font-size: 22px;
    padding: .5rem;
    width: 30rem;
    background-color: var(--gray);
    border: none;
    outline: none;
    color: var(--yellow);

}

.users-header-input::placeholder {
    color: var(--yellow);
}

.users-header-search {
    font-size: 22px;
    margin-left: 1rem;
}

.users-header-search:hover {
    cursor: pointer;
    color: var(--yellow-hover);
}

.users-header-btn {
    font-size: 25px;
    font-weight: bold;
    padding: .5rem 3.7rem;
    background-color: var(--red);
    color: var(--gray);
    border: none;
    outline: none;
    border-radius: .3rem;
}

.users-header-btn:hover {
    cursor: pointer;
    background-color: var(--red-hover);
    color: var(--white-dark);
}

.usersBox-ctrl {
    margin-top: 2rem;
}